<!--<div class="row">-->
<!--  <div class="col-2"></div>-->
<!--  <div class="col-10">-->
<!--    <table class="table table-hover table-striped container" >-->
<!--      <thead>-->
<!--      <tr class="text-center">-->
<!--        <th>Mã Vật tư</th>-->
<!--        <th>Tên Vật tư</th>-->
<!--        <th>Số lượng nhập</th>-->
<!--        <th>Số lượng bán</th>-->
<!--        <th>Số lượng tồn kho</th>-->
<!--        <th>Số lượng Vật tư hư hỏng và hết hạn</th>-->
<!--      </tr>-->
<!--      </thead>-->
<!--      <tbody>-->
<!--      <tr *ngFor="let items of suppliesArr" class="text-center">-->
<!--        <td>{{items.code}}</td>-->
<!--        <td>{{items.name}}</td>-->
<!--        <td>{{items.import_quantity}}</td>-->
<!--        <td>{{items.quantity}}</td>-->
<!--        <td>{{items.normal_supplies}}</td>-->
<!--        <td>{{items.another}}</td>-->
<!--      </tr>-->
<!--      </tbody>-->

<!--    </table>-->
<!--  </div>-->
<!--</div>-->
