<table border="1px" class="table table-hover table-striped" width="100%">
  <thead>
  <tr class="table-primary" style="text-align: center">
    <th scope="col">MVT</th>
    <th scope="col">Ten vat tu</th>
    <th scope="col">Gia thanh</th>
    <th scope="col">nha san xuat</th>
    <th scope="col">loai vaat tu</th>
    <th scope="col">Ngay san xuat</th>
    <th scope="col">Han su dung</th>
    <th scope="col">gioi thieu</th>
    <th scope="col">thong tin ki thua</th>
  </tr>
  </thead>
  <tbody *ngFor="let s of suppliesList">
  <tr>
    <!--    <td>{{i + 1}}</td>-->
    <td>{{s.code}}}</td>
    <td>{{s.name}}</td>
    <td>{{s.price}}</td>
    <td>{{s.producer}}</td>
    <td>{{s.suppliesType}}</td>
    <td>{{s.productionDate}}</td>
    <td>{{s.expiryDate}}</td>
    <td>{{s.introduce}}</td>
    <td>{{s.technicalInformation}}</td>
  </tr>
  </tbody>
</table>
