<div class="container-fluid" style="width: 650px;padding: 40px">
  <div class="row">
    <div class="col-12">
      <h2 class="text-center">Đổi mật khẩu nhân viên</h2>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-4">Mật khẩu cũ<span style="color: red">(*)</span></div>
    <div class="col-8">
      <input (change)="valueOldPassword($event)" type="password" placeholder="Nhập mật khẩu cũ">
      <small style="color: red" *ngIf="checkPassOld">{{checkPassOld}}</small>
    </div>
  </div>
  <div class="row">
    <div class="col-4">Mật khẩu mới<span style="color: red">(*)</span></div>
    <div class="col-8">
      <input type="password" placeholder="Nhập mật khẩu mới" (change)="valueInput($event)">
      <small style="color: red" *ngIf="checkNewPass">{{checkNewPass}} </small>
    </div>
  </div>
  <div class="row">
    <div class="col-4">Nhập lại mật khẩu<span style="color: red">(*)</span></div>
    <div class="col-8">
      <input type="password" placeholder="Nhập lại mật khẩu" (change)="valueInput2($event)">
      <small style="color: red" *ngIf="checkConFirmPass">{{checkConFirmPass}} </small>
      <p style="color: red" *ngIf="checkAll">{{checkAll}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center mt-3">
      <button (click)="updatePassword()"  type="submit" class="btn btn-primary mr-5">Đổi mật khẩu
      </button>
      <button type="submit" class="btn btn-secondary mr-5">Trở về</button>
    </div>
  </div>
</div>

