<!--Creator: PhuocPD-->


<div class="card card-body" style="background-image: url(https://img4.thuthuatphanmem.vn/uploads/2020/07/05/hinh-anh-backgroud-hoa-dao-no-cuc-ky-dep_034909613.png); background-size: cover">
  <h2 class="text-center">Đăng nhập</h2>
  <p class="text-success" *ngIf="successMessage"> {{successMessage}}</p>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="username">Tên đăng nhập<span style="color: red">(*)</span></label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fas fa-user"></i></span>
        </div>
        <input type="text" formControlName="username" class="form-control" id="username" name="username"
               aria-describedby="usernameError" required>
      </div>
      <div id="usernameError" class="form-text text-danger"
           *ngIf="!loginForm.controls.username?.valid && (loginForm.controls.username?.dirty || loginForm.controls.username?.touched)">
        <div [hidden]="!loginForm.controls.username?.errors.required">
          Vui lòng nhập Tên đăng nhập
        </div>
        <div [hidden]="!loginForm.controls.username?.errors.minlength">
          Tên đăng nhập phải có ít nhất 4 ký tự
        </div>
        <div [hidden]="!loginForm.controls.username?.errors.maxlength">
          Tên đăng nhập không vượt quá 10 ký tự
        </div>
        <div [hidden]="!loginForm.controls.username?.errors.pattern">
          Tên đăng nhập phải bao gồm chữ và số.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="d-flex flex-row align-items-center" for="password">Mật khẩu<span
        style="color: red">(*)</span></label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fas fa-key"></i></span>
        </div>
        <input type="password" formControlName="password" class="form-control" id="password" name="password"
               aria-describedby="passwordError" required>
      </div>
      <div id="passwordError" class="form-text text-danger"
           *ngIf="!loginForm.controls.password?.valid && (loginForm.controls.password?.dirty || loginForm.controls.password?.touched)">
        <div [hidden]="!loginForm.controls.password?.errors.required">
          Vui lòng nhập Mật khẩu
        </div>
        <div [hidden]="!loginForm.controls.password?.errors.minlength">
          Mật khẩu phải có ít nhất 3 ký tự
        </div>
        <div [hidden]="!loginForm.controls.password?.errors.maxlength">
          Mật khẩu không vượt quá 10 ký tự
        </div>
        <div [hidden]="!loginForm.controls.password?.errors.pattern">
          Mật khẩu phải bao gồm chữ hoặc số, không bao gồm các ký tự đặc biệt.
        </div>
      </div>
    </div>
    <div class="form-group mt-4 mb-4">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" formControlName="rememberMe" class="custom-control-input" id="remember-me"
               name="remember-me" data-parsley-multiple="remember-me">
        <label class="custom-control-label" for="remember-me"> Ghi nhớ mật khẩu </label>
      </div>
    </div>
    <div class="form-group pt-1">
      <div class="row">
        <div class="col-12 text-center">
          <button class="btn btn-primary btn-block" type="submit">Đăng nhập</button>
          <button class="btn btn-secondary btn-block" type="submit"> Hủy</button>
        </div>
      </div>
    </div>
  </form>
  <div class="card-footer bg-light">
    <div class="d-flex justify-content-center links">
      Bạn chưa có tài khoản? <a routerLink="/register"> Đăng ký </a>
    </div>
    <div class="d-flex justify-content-center">
      <a href="#">Quên mật khẩu? </a>
    </div>
  </div>
</div>


