<div class="container-fluid"
     style="background-image: url(https://i.imgur.com/LWAlhXc.jpg); background-size: cover">
  <div class="row">
    <div class="col-lg-2">
      <app-left-side-bar></app-left-side-bar>
    </div>
    <div class="col-lg-10" style="font-size: xx-large; text-align: center; padding-top: 30px">
      <div class="container-fluid">
        <p class="greeting">XIN CHÀO NHÂN VIÊN</p>
        <p class="greeting">CHÀO MỪNG BẠN ĐẾN VỚI TRANG HỆ THỐNG CỦA CTY - TNHH DƯỢC CODEGYM</p>
        <br>
        <div class="row">
          <div class="col-lg-6">
            <p>VUI LÒNG CHỌN TỪ MENU BÊN TRÁI</p>
          </div>
          <div class="col-lg-6">
            <img
              src="https://bizflyportal.mediacdn.vn/bizflyportal/362/470/2020/04/23/16/37/315876130214731.jpg" style="width: 100%">
          </div>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
