<div class="container-fluid">
  <div class="row" style="background-color: ghostwhite; margin-top: 5px">
    <!--    <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fas fa-arrow-alt-circle-up"></i></button>-->
    <div class="col-lg-1"></div>
    <div class="col-lg-2"><a href="#"><img id="logo" src="https://i0.wp.com/s1.uphinh.org/2021/12/30/C0721G1_free-file-2.png" height="72" width="191"></a></div>
    <div class="col-lg-6" style="padding: 15px">
      <marquee style="font-size: x-large; color: #058af0; font-family: 'Lucida Grande';">
        CÙNG TẠO CƠ HỘI THÀNH CÔNG - HƯỚNG TỚI SỨC KHỎE CỘNG ĐỒNG
      </marquee>
    </div>
    <div class="col-lg-3" style="padding: 15px">
      <div class="row navbar-navInfor" style="background-color: ghostwhite; ">
        <div class="col-12">
          <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: ghostwhite;">
              <button class="navbar-toggler" type="button" data-toggle="collapse"
                      data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1"
                      aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent1">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item" href="#">
                    <button class="btn btn-primary btn-primary">
                      <a style="color: white " itemprop="telephone" href="tel:+84708098304">
                        <i class="fas fa-mobile-alt" ></i>0708098304
                      </a>
                    </button>
                  </li>
                  <li class="nav-item">
                    <button class="btn  btn-primary"><i class="fas fa-shopping-cart"></i></button>
                  </li>
                  <li class="nav-item">
                    <button class="btn btn-primary" title="Đăng nhập"><i
                      class="fas fa-sign-in-alt"></i></button>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--    <div class="row d-flex justify-content-center" style="background-color: #058af0;">-->
  <div class="row navbar-header" style="background-color: #058AF0; ">
    <div class="col-12">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #058AF0;">
          <button class="navbar-toggler" type="button" data-toggle="collapse"
                  data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                  aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active navLi">
                <a class="nav-link text-white" href="#">TRANG CHỦ
                  <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item navLi ">
                <a class="nav-link text-white" href="#">GIỚI THIỆU</a>
              </li>

              <li class="nav-item navLi">
                <a class="nav-link text-white " href="#"><span>CHỨNG CHỈ CHẤT
                            LƯỢNG</span></a>
              </li>
              <li class="nav-item navLi" href="#">
                <a class="nav-link text-white">HOẠT ĐỘNG CÔNG
                  TY</a>
              </li>
              <li class="nav-item navLi">
                <a class="nav-link text-white" href="#">ĐỐI TÁC</a>
              </li>
              <li class="nav-item navLi">
                <a class="nav-link text-white" href="#">LIÊN HỆ</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
  <!--    </div>-->
</div>
